body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#note-input {
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #f1f8ff;
    color: #333;
}

button {
    padding: 10px;
    background-color: #a5d6a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #81c784;
}

#notes-container {
    margin-top: 20px;
}

.note {
    background-color: #ffecb3;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333;
}

.note:nth-child(odd) {
    background-color: #ffe0b2;
}

.note:nth-child(even) {
    background-color: #ffccbc;
}
